@using Contracts.Razor
@{ 
	Layout = Html.GetThemeLayoutPath();
}

<form action="/Default/Form" method="post">
	<input name="id" type="text" />
	<input name="name" type="text" />
	<button type="submit">GO</button>
</form>
Layout path = @Html.GetThemeLayoutPath();

<button onclick="window.location = '/Security/Login'">asdasd</button>