<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/styles/Style.css" rel="stylesheet" />
	<title>_Layout</title>

</head>
<body>
	@RenderBody()
</body>
</html>
