<li class="has-sub">
	<a class="js-arrow" href="#">
		<i class="fas fa-plug"></i>ماژول ها
		<span class="arrow">
			<i class="fas fa-angle-down"></i>
		</span>
	</a>
	<ul class="list-unstyled navbar__sub-list js-sub-list">
		<li>
			<a href="/ModuleAdmin/Panel/Status">
				<i class="fas fa-tachometer-alt"></i>وضعیت کلی
			</a>
		</li>
		<li>
			<a href="/ModuleAdmin/Panel/Upload">
				<i class="fas fa-upload"></i>آپلود
			</a>
		</li>
	</ul>
</li>