@*@model Modular.Controllers.HomeController.C1*@
@{
    ViewData["Title"] = "Index";
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
@*<div>
	<button onclick="Ajax()" type="button">Ajax Test</button>
</div>*@

<form action="/Home/form" method="post">
	<input name="Name" type="text" />
	<input name="Age" type="text" />
	<button type="submit">Go!</button>
</form>
<script>
	function Ajax() {
		$.get({
			url: "/a/b/c",
			success: function (d) {
				console.log(d);
			}
		});
	}
</script>