@{
	ViewData["Title"] = "Index";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div>
	<button onclick="post()" type="button">Post Test</button>
	<button onclick="put()" type="button">Put Test</button>
	<button onclick="get()" type="button">Get Test</button>
	<button onclick="guid()" type="button">GUID Test</button>
	<button onclick="ZestOfBitchi()" type="button">ZestOfBitchi</button>
	<button onclick="GetWithClass()" type="button">Get With Class Test</button>
	<button onclick="GetWithStringList()" type="button">Get With string list Test</button>

</div>
<div id="res"></div>
<form action="/Default/GetInfo" method="put" enctype="application/x-www-form-urlencoded">
	<input name="Name" type="text" />
	<input name="id" type="number" />
	<button type="submit">Go!</button>
</form>


<form method="post" enctype="multipart/form-data" action="Default/FileTest">
	<div class="form-group">
		<div class="col-md-10">
			<p>Upload one or more files using this form:</p>
			<input type="file" name="file">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			<p>Name:</p>
			<input type="text" name="name">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			<input type="submit" value="Upload">
		</div>
	</div>
</form>

<script>
	function post() {
		$.post({
			url: "/Default/GetInfo",
			data: { name: 'یاشاز', id: 32 },
			success: function (d) {
				$('#res').html(d);
			}
		});
	}
	function get() {
		$.get({
			url: "/Default/GetInfo",
			data: { name: 'یاشاز', id: 32 },
			success: function (d) {
				$('#res').html(d);
			}
		});
	}
	function GetWithClass() {
		debugger;
		var data = ["a", "b", "c"];
		var data2 = {
			data:
				[
					{ name: 'یاشار', id: 32 },
					{ name: 'Samad', id: 1 },
					{ name: 'Test', id: 3 },
					{ name: 'sad', id: 4 },
					{ name: 'یاشاز', id: 32 },
					{ name: 'Samad', id: 1 },
					{ name: 'Test', id: 3 },
					{ name: 'sad', id: 4 },
					{ name: 'یاشاز', id: 32 },
					{ name: 'Samad', id: 1 },
					{ name: 'Test', id: 3 },
					{ name: 'sad', id: 4 }]
		};
		$.get({
			url: "/Default/ListOfClass",
			data: data2,
			success: function (d) {
				$('#res').html(d);
			}
		});
	}
	function GetWithStringList() {
		debugger;
		var data = { data: ["a", "b", "c"]};
		$.get({
			url: "/Default/ListOfStrings",
			data: data,
			success: function (d) {
				$('#res').html(d);
			}
		});
	}
	function guid() {
		$.get({
			url: "/Default/guidtest",
			data: {
				guid: 'a249e147-e4b2-4271-9bf7-44cd0fd37e7e'
			},
			success: function (d) {
				$('#res').html(d);
			}
		});
	}
	function put() {
		$.ajax({
			url: '/Default/GetInfo',
			type: 'put',
			data: { name: 'sdsdfs', id: 5151 },
			success: function (result) {
				$('#res').html(result);
			}
		});
	}

	function ZestOfBitchi() {
		$.ajax({
			url: '/Default/ZestOfBitchi',
			type: 'OPTIONS',
			success: function (result) {
				$('#res').html(result);
			}
		});
	}
</script>