@model IEnumerable<Contracts.Authentication.Authentication>
@{
    Layout = "_Layout";
}
<ul>
	@foreach (var item in Model)
	{
		<li>@item.GetDescription() <a href="~/_ModulesAdministration/Panel/GetAuthCode?token=@item.Token" class="btn btn-primary"><i class="fa fa-code"></i></a></li>
	}
</ul>