@{
    ViewData["Title"] = "ایجاد کلید جدید";
    Layout = "_Layout";
}

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header">
				<strong>ایجاد کلید جدید</strong>
			</div>
			<div class="card-body card-block">
				<div class="form-group">
					<label for="exampleInputName2" class="pr-1  form-control-label">کد :</label>
					<div class="input-group">
						<input type="email" readonly id="__code__" name="input2-group2" placeholder="برای ایجاد دکمه تولید را کلیک کنید..." class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-primary" onclick="copyToClipboard()"><i class="fa fa-copy"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" onclick="getCode()" class="btn btn-primary btn-sm">
					<i class="fa fa-cogs"></i> تولید
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	function copyToClipboard() {
		var copyText = document.getElementById("__code__");
		copyText.select();
		document.execCommand("copy");
		alert("Copied the text: " + copyText.value);
	}
	function getCode() {
		$.get({
			url: 'GetNewToken',
			success: function (data) {
				$('#__code__').val(data.token);
			}
		});
		
	}
</script>