@{
    ViewData["Title"] = "ایجاد کلید جدید";
    Layout = "_Layout";
}

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header">
				ایجاد کلید جدید <strong>ماژول</strong>
			</div>
			<div class="card-body card-block">
				<div class="form-group">
					<div class="input-group">
						<input type="email" readonly id="__Modulecode__" name="input2-group2" placeholder="برای ایجاد دکمه تولید را کلیک کنید..." class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-primary" onclick="copyToClipboard(document.getElementById('__Modulecode__'))"><i class="fa fa-copy"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" onclick="getMdlCode()" class="btn btn-primary btn-sm">
					<i class="fa fa-cogs"></i> تولید
				</button>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header">
				ایجاد کلید جدید <strong>سطح دسترسی</strong>
			</div>
			<div class="card-body card-block">
				<div class="form-group">
					<div class="input-group">
						<input type="email" readonly id="__Authcode__" name="input2-group2" placeholder="برای ایجاد دکمه تولید را کلیک کنید..." class="form-control">
						<div class="input-group-btn">
							<button class="btn btn-primary" onclick="copyToClipboard(document.getElementById('__Authcode__'))"><i class="fa fa-copy"></i></button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<button type="submit" onclick="getAuthCode()" class="btn btn-primary btn-sm">
					<i class="fa fa-cogs"></i> تولید
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	function copyToClipboard(copyText) {
		copyText.select();
		document.execCommand("copy");
		alert("مقدار ذخیره شده: " + copyText.value);
	}

	function getAuthCode() { getCode("Auth"); }
	function getMdlCode() { getCode("Module"); }

	function getCode(type) {
		$.get({
			url: 'GetNew' + type + 'Token',
			success: function (data) {
				$('#__' + type + 'code__').val(data.token);
			}
		});
		
	}
</script>