@model String
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>ورود به سایت</title>
	<style>
		@@font-face {
			font-family: sans;
			src: url('/Admin/fonts/sans.ttf');
		}

		body,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6, form, button, input {
			font-family: "sans" !important;
		}
	</style>
	<style>
		body {
			text-align: center;
		}

		form {
			border: 3px solid #f1f1f1;
			display: inline-block;
		}

		/* Full-width inputs */
		input[type=text], input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
			text-align: center;
		}

		/* Set a style for all buttons */
		button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
		}

			/* Add a hover effect for buttons */
			button:hover {
				opacity: 0.8;
			}

		/* Extra style for the cancel button (red) */
		.cancelbtn {
			width: auto;
			padding: 10px 18px;
			background-color: #f44336;
		}

		/* Center the avatar image inside this container */
		.imgcontainer {
			text-align: center;
			margin: 24px 0 12px 0;
		}

		/* Avatar image */
		img.avatar {
			width: 240px;
			border-radius: 100px;
		}

		/* Add padding to containers */
		.container {
			padding: 16px;
		}

		/* The "Forgot password" text */
		span.psw {
			float: right;
			padding-top: 16px;
		}

		/* Change styles for span and cancel button on extra small screens */
		@@media screen and (max-width: 300px) {
			span.psw {
				display: block;
				float: none;
			}

			.cancelbtn {
				width: 100%;
			}
		}
	</style>
	<style>
		/* The Modal (background) */
		.modal {
			display: none; /* Hidden by default */
			position: fixed; /* Stay in place */
			z-index: 1; /* Sit on top */
			left: 0;
			top: 0;
			width: 100%; /* Full width */
			height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			padding-top: 60px;
		}

		/* Modal Content/Box */
		.modal-content {
			background-color: #fefefe;
			margin: 5px auto; /* 15% from the top and centered */
			border: 1px solid #888;
			width: 80%; /* Could be more or less, depending on screen size */
		}

		/* The Close Button */
		.close {
			/* Position it in the top right corner outside of the modal */
			position: absolute;
			right: 25px;
			top: 0;
			color: #000;
			font-size: 35px;
			font-weight: bold;
		}

			/* Close button on hover */
			.close:hover,
			.close:focus {
				color: red;
				cursor: pointer;
			}

		/* Add Zoom Animation */
		.animate {
			-webkit-animation: animatezoom 0.6s;
			animation: animatezoom 0.6s
		}

		@@-webkit-keyframes animatezoom {
			from {
				-webkit-transform: scale(0)
			}

			to {
				-webkit-transform: scale(1)
			}
		}

		@@keyframes animatezoom {
			from {
				transform: scale(0)
			}

			to {
				transform: scale(1)
			}
		}
	</style>
</head>
<body>
	<form method="post">
		<div class="imgcontainer">
			<img src="http://icons.iconarchive.com/icons/icojam/blue-bits/256/module-puzzle-icon.png" alt="Avatar" class="avatar">
		</div>

		<div class="container">
			<label for="UserName"><b>نام کاربری</b></label>
			<input type="text" placeholder="" name="UserName" id="UserName" />

			<label for="Password"><b>رمز عبور</b></label>
			<input type="password" placeholder="" name="Password" id="Password" />

			<button type="submit">ورود</button>
		</div>

		<div class="container" style="background-color:#f1f1f1;color:red;">
			@Model &nbsp;
		</div>
	</form>


</body>
</html>
